@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>


<BlazorFluxorApp.Client.Components.FirstComponent></BlazorFluxorApp.Client.Components.FirstComponent>
<BlazorFluxorApp.Client.Components.SecondComponent></BlazorFluxorApp.Client.Components.SecondComponent>
