@using BlazorFluxorApp.Client.Contexts
@inject TemperatureStore temperatureStore

<h3>First Component</h3>

<h4>@temperatureStore.Temperature</h4>

<button type="button" @onclick=@(() => temperatureStore.UpdateTemperature())>Update temperature </button>

